html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding-top:1em;
    padding-bottom: 1em;
    background-color: #F4F6FC;
    /* font-family: "Nunito Sans", sans-serif; */
}
button {
    outline: none;
  }
  a {
    text-decoration: none;
  }